.ui-textinput-clear-button{
display: none;
}
.ui-loader-header{
    display: none;
}

header{
    .hamburger{
        padding: 30px;
        cursor: pointer;
    }

    .close {
        position: absolute;
        right: 10%;
    }

    .logo{
        width: 6rem;
    }

    .bg-body{
        background-color: #121212 !important;
    }

    .nav{
        transition: 0.5s;;
        flex-direction: column;
        position: absolute;
        height: 100vh;
        width: 55vw ;
        left: -100%;
        top: -1%;
        z-index: 1;
        -webkit-transition: 0.5s;
        -moz-transition: 0.5s;
        -ms-transition: 0.5s;
        -o-transition: 0.5s;
        .nav-item{
            margin: 5px;
            font-size: 130%;
            transform: translateY(150%);
            -webkit-transform: translateY(150%);
            -moz-transform: translateY(150%);
            -ms-transform: translateY(150%);
            -o-transform: translateY(150%);
            
            .nav-link{
                color: #fff;
            }
           
        }
    }

    #search-form{
        position: absolute;
       right: -200%;
        bottom: 90%;
    }

    #in-search{
        position: absolute;
        right: -200%;
         bottom: 90%;
    }

    @media only screen and (min-width:600px) and (max-width:993px){
        .search-box{
            width: 70vw !important;
        }
    }
    .search-mobile{
      width: 100vw;
     padding-right: 7rem;
      .search-box{
            width:100%;
            margin-left: 1rem;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
}
        .close-search{
            position: absolute;
            left: -10%;
            top: 0.1rem;
            font-size: 90%;
            margin-left: 1rem;
        }
    }

    .search-btn{
        position: absolute;
        right: 10%;
        top: 6%;
        z-index: 1;
        border: transparent;
        background: transparent;
        .search-icon{
            color: #fff;
        }
    }

    .search-movie-suggestions{
        .movie-sugg-genre{
             padding: 30px;
    background-color: #121212 !important;
    width: 70%;
    position: absolute;
    left: 5%;
    top: 4rem;
    padding-top: 5;
    z-index: 1;
    display: flex;
    flex-direction: column;
        display: none;
        

        a{
            text-decoration: none;
            color: #fff;
            font-size: 0.875rem;
            margin-bottom: 20px;
            .movie-poster-sugg{
                width: 20%;
                margin-right: 2rem;
                float: left;
            }
            p:last-child{
                margin-top: -15px;
            }
        }
        }
        .movie-sugg{
            padding: 30px;
    background-color: #121212 !important;
    width: 70%;
    position: absolute;
    left: 13%;
    top: 15%;
    padding-top: 5;
    z-index: 1;
    display: flex;
    flex-direction: column;
        display: none;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 0.875rem;
                margin-top: 20px;
                .movie-poster-sugg{
                    width: 20%;
                    margin-right: 2rem;
                    float: left;
                }
                p:last-child{
                    margin-top: -15px;
                }
            }
        }
    }
}


@media only screen and (min-width:993px){
    header{
        height: 20vh !important;
        .hamburger{
            display: none;
         }
     
         .close {
            display: none;
         }
     
         .logo{
             width: 7rem !important;
             margin-left: 50px;
         }
     
         .nav-tabs{
             border: none;
         }
     
         .shadow{
             box-shadow: unset !important;
         }
     
        
     
         .nav{
             margin-bottom: 200%;
             text-align: center;
             transition: 0.5s;
             flex-direction: row !important;
             position: relative !important;
             height: 0% !important;
             width: 100% !important ;
             left: 33% !important;
             top: -4rem !important;
             z-index: 1;
             -webkit-transition: 0.5s;
             -moz-transition: 0.5s;
             -ms-transition: 0.5s;
             -o-transition: 0.5s;
             .nav-item{
                 margin: 5px;
                 font-size: 130%;
                 transform: translateY(0%) !important;
                 -webkit-transform: translateY(0%) !important;
                 -moz-transform: translateY(0%) !important;
                 -ms-transform: translateY(0%) !important;
                 -o-transform: translateY(0%) !important;
                 
                 .nav-link{
                     color: #fff;
                 }
                
             }
         }

         #search-form{
            position: absolute;
           left: 75% !important;
            top: 2.5rem !important;
            z-index: 1;
        }
    
        #in-search{
            position: absolute;
           left: 75% !important;
            top: 2.5rem !important;
            z-index: 1;
        }

        .search-mobile{
            width: 100vw;
           padding-right: 7rem;
           .search-box{
            width:20%;
            margin-left: 1rem;
            border-radius: 10px;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            -ms-border-radius: 10px;
            -o-border-radius: 10px;
}
.close-search{
display: none;
}
        }

         .search-btn{
           display: none;
            .search-icon{
                color: #fff;
            }
        }
    }
}