@import './config';

#latest{
    .latest-ting{
        h1{
         @include h1Section;
        }
    }

    .latest-movies{
        @include sectionMode;
        padding: 6%;
        a{
           @include anchor;
        }
        li:hover{
            @include listHover;
        }
       
        li{
           @include listStyle;
           .remove{
            color: rgb(238, 5, 5);
            font-size: 80%;
            cursor: pointer;
            margin-bottom:30px 
        }
        img{
               @include imgSize;
            }

            h6{
               @include h6;
            }

            p{
              @include p;
            }
        }

       
    }

    .showmore-container{
        @include showMoreContainer;
    }
    .showmore{
       @include showMore;
&:hover{
            opacity: 0.5;
        }
}
}