.ui-textinput-clear-button {
  display: none;
}

.ui-loader-header {
  display: none;
}

header {
  background-color: #181818;
}

header .hamburger {
  padding: 30px;
  cursor: pointer;
}

header .close {
  position: absolute;
  right: 10%;
}

header .logo {
  width: 6rem;
}

header .nav {
  transition: 0.5s;
  background-color: #121212 !important;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  height: 100vh;
  width: 55vw;
  left: -100%;
  top: -1%;
  z-index: 1;
  -webkit-transition: 0.5s;
  -moz-transition: 0.5s;
  -ms-transition: 0.5s;
  -o-transition: 0.5s;
}

header .nav .nav-item {
  margin: 5px;
  font-size: 130%;
  transform: translateY(150%);
  -webkit-transform: translateY(150%);
  -moz-transform: translateY(150%);
  -ms-transform: translateY(150%);
  -o-transform: translateY(150%);
}

header .nav .nav-item .nav-link {
  color: #fff;
}

header #search-form {
  position: absolute;
  right: -200%;
  bottom: 90%;
}

header .search-mobile {
  width: 100vw;
  padding-right: 7rem;
}

header .search-mobile .search-box {
  width: 100%;
  margin-left: 1rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

header .search-mobile .close-search {
  position: absolute;
  left: -10%;
  top: 0.1rem;
  font-size: 90%;
  margin-left: 1rem;
}

header .search-btn {
  position: absolute;
  right: 10%;
  top: 6%;
  z-index: 1;
  border: transparent;
  background: transparent;
}

header .search-btn .search-icon {
  color: #fff;
}

header .search-movie-suggestions .movie-sugg {
  padding: 30px;
  background-color: #121212 !important;
  width: 70%;
  position: absolute;
  left: 13%;
  top: 15%;
  padding-top: 5;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

header .search-movie-suggestions .movie-sugg a {
  text-decoration: none;
  color: #fff;
  font-size: 0.875rem;
  margin-top: 20px;
}

header .search-movie-suggestions .movie-sugg a .movie-poster-sugg {
  width: 20%;
  margin-right: 2rem;
  float: left;
}

header .search-movie-suggestions .movie-sugg a p:last-child {
  margin-top: -15px;
}

#hero-trending .trending-movies {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  overflow-x: hidden;
}

#hero-trending .trending-movies .trending-movie-lists {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  margin: 10px;
}

#hero-trending .trending-movies .trending-movie-lists a {
  text-decoration: none;
  color: #fff;
}

#hero-trending .trending-movies .trending-movie-lists img {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  width: auto;
  height: 200px;
  width: 300px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#hero-trending .trending-movies .trending-movie-lists h5 {
  font-size: 90%;
}

#hero-trending .trending-movies .trending-movie-lists .rating .star {
  position: absolute;
  top: 12.7rem;
}

#hero-trending .trending-movies .trending-movie-lists .rating p {
  font-size: 80%;
  transform: translateX(10%);
  -webkit-transform: translateX(10%);
  -moz-transform: translateX(10%);
  -ms-transform: translateX(10%);
  -o-transform: translateX(10%);
}

#popular-movies .popular-now h1 {
  padding: 30px;
  font-weight: bold;
}

#popular-movies .popular-movies {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (minmax(31.66%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(31.66%, 1fr));
}

#popular-movies .popular-movies a {
  text-decoration: none;
  color: #fff;
}

#popular-movies .popular-movies li:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

#popular-movies .popular-movies li {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#popular-movies .popular-movies li img {
  width: 75%;
}

#popular-movies .popular-movies li h6 {
  font-size: 70%;
}

#popular-movies .popular-movies li p {
  font-size: 60%;
}

#popular-movies .showmore-container {
  text-align: center;
}

#popular-movies .showmore {
  transition: 0.4s;
  background-color: #0CECDD;
  color: #fff;
  border: transparent;
  padding: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#popular-movies .showmore:hover {
  opacity: 0.5;
}

#action .action-genre h1 {
  padding: 30px;
  font-weight: bold;
}

#action .action-movies {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (minmax(31.66%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(31.66%, 1fr));
}

#action .action-movies a {
  text-decoration: none;
  color: #fff;
}

#action .action-movies li:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

#action .action-movies li {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#action .action-movies li img {
  width: 75%;
}

#action .action-movies li h6 {
  font-size: 70%;
}

#action .action-movies li p {
  font-size: 60%;
}

#action .showmore-container {
  text-align: center;
}

#action .showmore {
  transition: 0.4s;
  background-color: #0CECDD;
  color: #fff;
  border: transparent;
  padding: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#action .showmore:hover {
  opacity: 0.5;
}

#adventure .adventure-genre h1 {
  padding: 30px;
  font-weight: bold;
}

#adventure .adventure-movies {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (minmax(31.66%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(31.66%, 1fr));
}

#adventure .adventure-movies a {
  text-decoration: none;
  color: #fff;
}

#adventure .adventure-movies li:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

#adventure .adventure-movies li {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#adventure .adventure-movies li img {
  width: 75%;
}

#adventure .adventure-movies li h6 {
  font-size: 70%;
}

#adventure .adventure-movies li p {
  font-size: 60%;
}

#adventure .showmore-container {
  text-align: center;
}

#adventure .showmore {
  transition: 0.4s;
  background-color: #0CECDD;
  color: #fff;
  border: transparent;
  padding: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#adventure .showmore:hover {
  opacity: 0.5;
}

#animation .animation-genre h1 {
  padding: 30px;
  font-weight: bold;
}

#animation .animation-movies {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (minmax(31.66%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(31.66%, 1fr));
}

#animation .animation-movies a {
  text-decoration: none;
  color: #fff;
}

#animation .animation-movies li:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

#animation .animation-movies li {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#animation .animation-movies li img {
  width: 75%;
}

#animation .animation-movies li h6 {
  font-size: 70%;
}

#animation .animation-movies li p {
  font-size: 60%;
}

#animation .showmore-container {
  text-align: center;
}

#animation .showmore {
  transition: 0.4s;
  background-color: #0CECDD;
  color: #fff;
  border: transparent;
  padding: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#animation .showmore:hover {
  opacity: 0.5;
}

#crime .crime-genre h1 {
  padding: 30px;
  font-weight: bold;
}

#crime .crime-movies {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (minmax(31.66%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(31.66%, 1fr));
}

#crime .crime-movies a {
  text-decoration: none;
  color: #fff;
}

#crime .crime-movies li:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

#crime .crime-movies li {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#crime .crime-movies li img {
  width: 75%;
}

#crime .crime-movies li h6 {
  font-size: 70%;
}

#crime .crime-movies li p {
  font-size: 60%;
}

#crime .showmore-container {
  text-align: center;
}

#crime .showmore {
  transition: 0.4s;
  background-color: #0CECDD;
  color: #fff;
  border: transparent;
  padding: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#crime .showmore:hover {
  opacity: 0.5;
}

#horror .horror-genre h1 {
  padding: 30px;
  font-weight: bold;
}

#horror .horror-movies {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (minmax(31.66%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(31.66%, 1fr));
}

#horror .horror-movies a {
  text-decoration: none;
  color: #fff;
}

#horror .horror-movies li:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

#horror .horror-movies li {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#horror .horror-movies li img {
  width: 75%;
}

#horror .horror-movies li h6 {
  font-size: 70%;
}

#horror .horror-movies li p {
  font-size: 60%;
}

#horror .showmore-container {
  text-align: center;
}

#horror .showmore {
  transition: 0.4s;
  background-color: #0CECDD;
  color: #fff;
  border: transparent;
  padding: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#horror .showmore:hover {
  opacity: 0.5;
}

#mystery .mystery-genre h1 {
  padding: 30px;
  font-weight: bold;
}

#mystery .mystery-movies {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (minmax(31.66%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(31.66%, 1fr));
}

#mystery .mystery-movies a {
  text-decoration: none;
  color: #fff;
}

#mystery .mystery-movies li:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

#mystery .mystery-movies li {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#mystery .mystery-movies li img {
  width: 75%;
}

#mystery .mystery-movies li h6 {
  font-size: 70%;
}

#mystery .mystery-movies li p {
  font-size: 60%;
}

#mystery .showmore-container {
  text-align: center;
}

#mystery .showmore {
  transition: 0.4s;
  background-color: #0CECDD;
  color: #fff;
  border: transparent;
  padding: 4px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#mystery .showmore:hover {
  opacity: 0.5;
}

#watchlists .watchlist-ting h1 {
  padding: 30px;
  font-weight: bold;
}

#watchlists .My-WatchLists {
  display: -ms-grid;
  display: grid;
  list-style: none;
  -ms-grid-columns: (minmax(31.66%, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(31.66%, 1fr));
  padding: 6%;
}

#watchlists .My-WatchLists a {
  text-decoration: none;
  color: #fff;
}

#watchlists .My-WatchLists li:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  -o-transform: translateY(-10px);
}

#watchlists .My-WatchLists li {
  transition: 0.4s;
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
}

#watchlists .My-WatchLists li .remove {
  color: #ee0505;
  font-size: 80%;
  cursor: pointer;
  margin-bottom: 30px;
}

#watchlists .My-WatchLists li img {
  width: 75%;
}

#watchlists .My-WatchLists li h6 {
  font-size: 70%;
}

#watchlists .My-WatchLists li p {
  font-size: 60%;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.minimize {
  overflow: hidden;
  height: 100vh;
}

html, body {
  background-color: #121212;
  color: #fff;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 18px;
  overflow-x: hidden;
}
/*# sourceMappingURL=style.css.map */