
header{
    .sent-back-home{
        padding: 30px;
        a{
            text-decoration: none;
            color: #fff;
            
        &:hover{
            color: #0CECDD;
        }
            i{
                font-size: 120%;
            }
        }
    }
    .search-mobile{
        position: absolute;
        top: 2.1rem;
        right: -200%;
        .search-box{
            width: 23rem;
            border-radius: 3px;
            -webkit-border-radius: 3px;
            -moz-border-radius: 3px;
            -ms-border-radius: 3px;
            -o-border-radius: 3px;
}
        .close-search{
            position: absolute;
            left: -10%;
            top: 0.1rem;
        }
    }
    
    .search-btn{
        position: absolute;
        right: 10%;
        top: 4%;
        z-index: 1;
        border: transparent;
        background: transparent;
        .search-icon{
            color: #fff;
        }
    }

    .search-movie-suggestions{
        .movie-sugg{
            padding: 30px;
            background-color: #121212 !important;
            width: 75%;
            position: absolute;
            left: 11%;
            bottom: 13%;
            display: none;
            a{
                text-decoration: none;
                color: #fff;
                font-size: 0.875rem;
                
                .movie-poster-sugg{
                  width: 18%;
                  margin-right: 2rem;
                  float: left;
                }
                p:last-child{
                    margin-top: -15px;
                }
            }
        }
    }
}