
header{
    .sent-back-home{
        padding: 30px;
        a{
            text-decoration: none;
            color: #fff;
            
        &:hover{
            color: #0CECDD;
        }
            i{
                font-size: 120%;
            }
        }
    }

}