#info{
    .genre{
        margin-left: -33px;
        .genre-container{
            display: flex;
            list-style: none;
            font-size: 60%;
            li{
                margin: 3px;
                color: #0CECDD;
                cursor: pointer;
            }
            .line-genre{
                margin-top: 3px;
            }
        }
    }

    .movie-details{
        margin: 25px;

        h1{
            font-size: 150%;
        }
        p{
            font-size: 70%;
        }
    }

    .cta-btns{
        margin: 25px;
        .play-trailer{
            &:hover{
                opacity: 0.5;
            }
            border: transparent;
            background-color: #0CECDD;
            padding: 5px;
            border-radius: 15px;
            -webkit-border-radius: 15px;
            -moz-border-radius: 15px;
            -ms-border-radius: 15px;
            -o-border-radius: 15px;
            width: 40%;
            font-size: 100%;
            transition: 0.3s;
            .play-icon{
                color: rgba(255, 255, 255, 0.87)
            }
}
.add-watchlist{
    transition: 0.3s;
    &:hover{
        background-color: #0CECDD;
    }
    border: 2px solid #0CECDD;
    background-color: transparent;
    padding: 5px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    width: 50%;
    margin-left: 10px;
    .watchlist-icon{
        color: rgba(255, 255, 255, 0.87);
        font-size: 90%;
    }
}
    }
}

@media only screen and (min-width:600px) and (max-width:993px){
    .movie-details{

        h1{
            font-size: 200% !important;
        }
        p{
            font-size: 90% !important;
        }
    }
    .genre-container{
        font-size: 70% !important;
    }

    .play-trailer{
        width: 30% !important;
    }
    .add-watchlist{
        width: 35% !important;
    }
}

@media only screen and (min-width:993px){
    .movie-details{

        h1{
            font-size: 230% !important;
        }
        p{
            font-size: 120% !important;
            width: 55%;
        }
    }
    .genre-container{
        font-size: 80% !important;
    }
    .play-trailer{
        width: 20% !important;
    }
    .add-watchlist{
        width: 25% !important;
    }
}